@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a class="btn btn-primary" asp-area="" asp-controller="Course" asp-action="AddCourse">Add</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Course Name</th>
            <th scope="col">Course Code</th>
            <th scope="col">Course Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var course in ViewBag.CourseList)
        {
            <tr>
                <th scope="row">@course.Id</th>
                <td>@course.CourseName</td>
                <td>@course.CourseCode</td>
                <td>@course.CourseDescription</td>
                <th>
                    <a class="btn" name="update" asp-area="" asp-controller="Course" asp-action="EditCourse" asp-route-courseId="@course.Id"><i class="bi bi-pencil-square"></i></a>
                    <a class="btn" name="delete" asp-area="" asp-controller="Course" asp-action="DeleteCourse" asp-route-courseId="@course.Id">Delete <i class="bi bi-trash3-fill"></i></a>

                    
                </th>
            </tr>
        }
        
        
    </tbody>
</table>
